<a href="https://colab.research.google.com/github/suja14/PythonForDataScience/blob/main/Course4_Class1(Module1and2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
num1=3 #Assigning
num1==3 #checking
empname='pythontest'

print  (num1)
print(empname)

#//* grerter   *//

3
pythontest

In [ ]:
name= "james"

# python interrupt like J A M E S
                        0 1 2 3 4
                          -3-2 -1
print(name[0]) #outpu will be J
print(name[-1]) #output will be S

#slicing

In [ ]:
a = "Incomprehensibility"
a[0:8]
print(a)
#a[1:5]
#rint (a)
#a[2:6]
#a[-1:3]
len(a)
max(a)
min(a)

Incomprehensibility

'I'

In [ ]:
#function
# in and not in

s1 = "Welcome"

"come" in s1 #output: True

"come" not in s1 #output: False

False

In [ ]:
letter1 ='a'
letter2='b'
if(letter1<letter2): # compare ASCII ex 65 and 66 and print the output
  print("hi")

In [ ]:
#Assuming positive index numbers, what are the index numbers of the letters Y and E?
POPSTAR = "DIZZY DRAKE"
print(POPSTAR.index("Y"))
print(POPSTAR.index("E"))

4
10

In [ ]:
#What is the result of the input POPSTAR[3] ? - Answer  'Z'
POPSTAR = "DIZZY DRAKE"
POPSTAR[3]

In [ ]:
#What input returns the result “K” ? - Answer POPSTAR[-2]
POPSTAR[-2]

'K'

In [ ]:
#What is the result of the input POPSTAR[0:6] ? Answer DIZZY
POPSTAR[0:6]

'DIZZY '

In [ ]:
#What input returns the result “DRAKE” ? Answer POPSTAR[6:11]
POPSTAR[6:11]

'DRAKE'

In [ ]:
#Now, for the same string, assuming negative index numbers:
#What are the index numbers of the letter Y and I?
POPSTAR = "DIZZY DRAKE"
print(POPSTAR.index("Y"))
print(POPSTAR.index("I"))
len(POPSTAR)

4
1

11

In [ ]:
#What is the result of the input POPSTAR[-4]?
POPSTAR = "DIZZY DRAKE"
POPSTAR[-4]

'R'

In [ ]:
#What input returns the result 'A'?
POPSTAR[-3]

'A'

In [ ]:
#What input returns the result "RAKE"?
POPSTAR[-1:-4]

''

In [ ]:
#Consider the string, SUCCESS = "MAMBA MENTALITY"
#Assuming positive index numbers, what is the result of the input SUCCESS[::2] ?
#What is the result of the input SUCCESS[0:10:2] ?
#What is the result of the input SUCCESS[2:5:2] ?
#What input returns the result “ NL” ? (*notice the space)
#What input returns the result “A TT” ? (*notice the space)
SUCCESS = "MAMBA MENTALITY"
#print (len(SUCCESS))
SUCCESS[0:10:2] # start from 0 and go up to 9 and then skip every second value
#SUCCESS[2:5:2]

'MMAMN'

In [ ]:
#Consider the following variables, BOOK= “HARRY POTTER”, COMMENT= “IS A BESTSELLER”
#If we want to create a new string that reads, “HARRY POTTER IS A BESTSELLER” what input would we use?
#If we want to create a new string that reads, “HARRY POTTER IS A BESTSELLER AND J.K ROWLING IS A GENIUS” what input would we use?

BOOK= 'HARRY POTTER'
COMMENT= 'IS A BESTSELLER'

print (BOOK + COMMENT)

HARRY POTTERIS A BESTSELLER

In [ ]:
#Consider the string: Siblings = "Middle children have it the worst"

#Convert the string to upper case letters and store it in a new variable called Siblings2

#Replace the word ‘worst’ with ‘best’ and store the new string in the variable Siblings3

Siblings= "Middle children have it the worst"
upper(Siblings)

txt = "Hello my friends"

x = txt.upper()

print(x)

NameError: name 'upper' is not defined

In [ ]:

#Consider the following: truth= “We can do anything we set our minds to”

#Assuming positive index numbers, what is the result of the input truth.find(‘can’) ? What does this result mean?
#What is the result of the input truth.find(‘minds’) ?
#What is the result of the input truth.find(‘believe’) ?

In [ ]:
#What inputs would you run to print each of the following?
#JENNIFER LOPEZ
#IS AN AWESOME DANCER!
#colour ---> purple
#The backslash \ is so cool
print("#JENNIFER LOPEZ,\n #IS AN AWESOME DANCER! #colour ---> purple #The backslash \ is so cool")

#JENNIFER LOPEZ,
 #IS AN AWESOME DANCER! #colour ---> purple #The backslash \ is so cool

In [ ]:
from datetime import datetime
# Get the current time
current_time = datetime.now().strftime("%I:%M %p")
# Check if the time is 12:33 PM
if current_time == "12:33 PM":
     print("Turn on camera")

In [ ]:
#Write a Python code to return your Python version
import sys # sys is the system pakage
print(sys.version )

3.10.12 (main, Nov  6 2024, 20:22:13) [GCC 11.4.0]

In [ ]:
#Write a Python code to declare variable id="513".
#Print the following statement "customer id =513". [Don't use print("customer id

id= '513'
print(f"customer id ={id}") ##print ("customer id = ",id) alternate

customer id =  513
customer id =513

In [ ]:
#Run the following statement, why there is an error id=id+1

id= '513'
id=id+1

TypeError: can only concatenate str (not "int") to str

In [ ]:
#Convert the variable id into an integer, increment it by 1.
#Assign the result to variable new_id.
#Print the new_id
id= '513'
new_id=(int(id)+1)
print(new_id)

514

In [ ]:
#Write a Python code to print the following string in a specific format (see the
# Twinkle, twinkle, little star,
#     How I wonder what you are!
#        Up above the world so high,
#           Like a diamond in the sky.

a='Twinkle, twinkle, little star'
b='How I wonder what you are!'
c='Up above the world so high,'
d='Like a diamond in the sky.'
print(a,"\n""\t",b,"\n""\t""\t",c,"\n""\t""\t""\t",d)
#print("Twinkle, twinkle, little star,\n\tHow I wonder what you are!,\n\t\tUp above the world so high,\n\t\t\tLike a diamond in the sky.")

print

Twinkle, twinkle, little star
	 How I wonder what you are!
		 Up above the world so high,
			 Like a diamond in the sky.

In [ ]:
#Givin the following string variable, # Print the first element in the string
course="Python for Data Science"
course[0]

'P'

In [ ]:
# Print the element on the 13th index in the string
course[13]

't'

In [ ]:
# Find the length of string
len(course)

23

In [ ]:
# Print the last element in the string [use negative index]
print(course[-1]) # course[-1]

e

In [ ]:
# Take the slice on variable course with only index 11 to index 14
course[11:14]

'Dat'

In [ ]:
# Get every third element in the range from index 0 to index 20
course[0:20:3]

'Ph ra i'

In [ ]:
# Concatenate course string with ", AI & Development"
course="Python for Data Science"
course=course + ", AI & Development"
print(course)

Python for Data Science, AI & Development

In [ ]:
# Replace all the spaces with (_). New string should looks like"Python_for_Data_S
course="Python for Data Science"
course.replace(" ","_")

'Python_for_Data_Science'

In [ ]:
# Convert all the characters in string to upper case

course="Python for Data Science"
print(course.upper())

PYTHON FOR DATA SCIENCE

In [10]:
#TUPLE
tup1 = ('physics', 'chemistry', 1997, 2000);
tup2 = (1, 2, 3, 4, 5,456,1231,567 );
tup3 = "a", "b", "c", "d"
tup4 =(1)
max(tup2)
min(tup2)
sum(tup2)
#print (tup4)
#print(tup1)
#print(tup2)
#print(tup3)

2269